lesson_2/.metadata/.ide.log
lesson_2/.metadata/.ide.log-2025-03-25.log
lesson_2/.metadata/.log
lesson_2/.metadata/version.ini
lesson_2/.metadata/.plugins/org.eclipse.cdt.ui/00_pointers_n_addresses.build.log
lesson_2/.metadata/.plugins/org.eclipse.cdt.ui/01_pointer_arithmetic.build.log
lesson_2/.metadata/.plugins/org.eclipse.cdt.ui/02_ptr_advance.build.log
lesson_2/.metadata/.plugins/org.eclipse.cdt.ui/03_memory_map.build.log
lesson_2/.metadata/.plugins/org.eclipse.cdt.ui/04_type_qualifiers.build.log
lesson_2/.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
lesson_2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
lesson_2/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
lesson_1/.metadata/.ide.log
lesson_1/.metadata/.ide.log-2025-03-22.log
lesson_1/.metadata/.log
lesson_1/.metadata/version.ini
lesson_1/.metadata/.plugins/org.eclipse.cdt.core/.log
lesson_1/.metadata/.plugins/org.eclipse.cdt.core/02_unions_and_bitfields.1742107975716.pdom
lesson_1/.metadata/.plugins/org.eclipse.cdt.core/MCU_hello_world.1742022462202.pdom
lesson_1/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/00_bit_manipulation/00_bit_manipulation
lesson_1/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/00_bit_manipulation/12190278
lesson_1/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/02_unions_and_bitfields/02_unions_and_bitfields
lesson_1/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/02_unions_and_bitfields/641943117
lesson_1/.metadata/.plugins/org.eclipse.cdt.ui/00_bit_manipulation.build.log
lesson_1/.metadata/.plugins/org.eclipse.cdt.ui/01_structure.build.log
lesson_1/.metadata/.plugins/org.eclipse.cdt.ui/02_unions_and_bitfields.build.log
lesson_1/.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
lesson_1/.metadata/.plugins/org.eclipse.cdt.ui/hello_class.build.log
lesson_1/.metadata/.plugins/org.eclipse.cdt.ui/MCU_hello_world.build.log
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/0/9087527a9f0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/11/40fa2582330200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/13/90fe6e4e330200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/18/b0a4bd78b80100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/18/d06f33a4b80100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/19/e0b5fda22f0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/1a/808004bd300200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/1b/20d2ce4f320200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/1b/f0ede43b300200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/22/a02e8a5a2b0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/28/10fcb253300200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/28/100c7693b90100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/2c/60cfd9c1b90100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/2d/00014cc7330200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/30/70beda88330200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/36/b0732b4b300200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/3f/0015cc405703001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/3f/90bc33bf300200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/41/300e1e8eb80100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/44/909accc0b80100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/4f/701856ef330200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/5b/803ec569320200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/60/906799de5e03001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/63/1007db8e300200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/63/1015f673b90100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/64/d0c985fa5903001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/65/300f6488300200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/6b/10c764b29f0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/6c/606b68985c03001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/7/c03199b1330200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/71/f017a4845703001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/73/804c11bf5903001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/75/60f155ef330200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/76/b0d63466300200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/79/b0bd6f645a03001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/80/301f49992f0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/86/c0fece735e03001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/86/c05e852c2c0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/8b/c096e340b90100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/9/201effba310200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/97/307830a7310200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/97/e0d4c81e5f03001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/99/d0dd8d85b90100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/9a/c0e811bf5903001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/9d/903e86775703001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/a0/a05d7f5e2b0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/a4/20d74651b90100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/a9/100cf0e4330200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/ae/d011ce6bb90100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/b3/a09c0da9310200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/b4/403647cc9f0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/b5/60c353a99f0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/b6/f0d63a2e2c0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/b8/20f897cab90100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/ba/400e5f5a9f0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/bb/702d8fae300200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/be/001883065a03001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/c0/802b7e4cb90100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/c1/e0582e649f0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/ce/c068b26aa20200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/ce/f00ad4d39f0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/d0/8093ee6c5a03001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/d0/803659a92f0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/d2/005671a9b90100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/dc/608a755bba0100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/dc/1083f2cf330200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/dd/b07d9c89b80100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/f/60cdf8b4b80100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/f3/c085e3be5903001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/f6/b0b86c90320200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/fb/906cd883300200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/fc/4062353ab90100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/fc/e06ffed69f0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/fd/f0c9cad5330200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.projects/00_bit_manipulation/.indexes/history.index
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.projects/00_bit_manipulation/.indexes/33/history.index
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.projects/00_bit_manipulation/.indexes/af/history.index
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.projects/01_structure/.indexes/be/history.index
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.projects/01_structure/.indexes/c4/history.index
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.projects/02_unions_and_bitfields/.indexes/history.index
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.projects/02_unions_and_bitfields/.indexes/33/history.index
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.projects/02_unions_and_bitfields/.indexes/af/history.index
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.projects/MCU_hello_world/.indexes/c4/history.index
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.projects/hello_class/.markers
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.projects/hello_class/.indexes/c4/history.index
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
lesson_1/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
lesson_1/.metadata/.ide.log
lesson_1/.metadata/.log
lesson_1/.metadata/version.ini
lesson_1/.metadata/.plugins/org.eclipse.cdt.core/.log
lesson_1/.metadata/.plugins/org.eclipse.cdt.core/02_unions_and_bitfields.1742107975716.pdom
lesson_1/.metadata/.plugins/org.eclipse.cdt.core/MCU_hello_world.1742022462202.pdom
lesson_1/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/00_bit_manipulation/00_bit_manipulation
lesson_1/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/00_bit_manipulation/12190278
lesson_1/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/02_unions_and_bitfields/02_unions_and_bitfields
lesson_1/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/02_unions_and_bitfields/641943117
lesson_1/.metadata/.plugins/org.eclipse.cdt.ui/00_bit_manipulation.build.log
lesson_1/.metadata/.plugins/org.eclipse.cdt.ui/01_structure.build.log
lesson_1/.metadata/.plugins/org.eclipse.cdt.ui/02_unions_and_bitfields.build.log
lesson_1/.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
lesson_1/.metadata/.plugins/org.eclipse.cdt.ui/hello_class.build.log
lesson_1/.metadata/.plugins/org.eclipse.cdt.ui/MCU_hello_world.build.log
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/0/9087527a9f0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/11/40fa2582330200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/13/90fe6e4e330200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/18/b0a4bd78b80100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/18/d06f33a4b80100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/19/e0b5fda22f0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/1a/808004bd300200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/1b/20d2ce4f320200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/1b/f0ede43b300200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/22/a02e8a5a2b0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/28/10fcb253300200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/28/100c7693b90100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/2c/60cfd9c1b90100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/2d/00014cc7330200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/30/70beda88330200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/36/b0732b4b300200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/3f/0015cc405703001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/3f/90bc33bf300200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/41/300e1e8eb80100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/44/909accc0b80100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/4f/701856ef330200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/5b/803ec569320200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/60/906799de5e03001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/63/1007db8e300200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/63/1015f673b90100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/64/d0c985fa5903001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/65/300f6488300200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/6b/10c764b29f0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/6c/606b68985c03001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/7/c03199b1330200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/71/f017a4845703001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/73/804c11bf5903001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/75/60f155ef330200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/76/b0d63466300200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/79/b0bd6f645a03001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/80/301f49992f0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/86/c0fece735e03001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/86/c05e852c2c0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/8b/c096e340b90100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/9/201effba310200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/97/307830a7310200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/97/e0d4c81e5f03001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/99/d0dd8d85b90100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/9a/c0e811bf5903001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/9d/903e86775703001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/a0/a05d7f5e2b0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/a4/20d74651b90100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/a9/100cf0e4330200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/ae/d011ce6bb90100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/b3/a09c0da9310200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/b4/403647cc9f0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/b5/60c353a99f0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/b6/f0d63a2e2c0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/b8/20f897cab90100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/ba/400e5f5a9f0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/bb/702d8fae300200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/be/001883065a03001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/c0/802b7e4cb90100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/c1/e0582e649f0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/ce/c068b26aa20200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/ce/f00ad4d39f0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/d0/8093ee6c5a03001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/d0/803659a92f0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/d2/005671a9b90100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/dc/608a755bba0100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/dc/1083f2cf330200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/dd/b07d9c89b80100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/f/60cdf8b4b80100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/f3/c085e3be5903001011f9d427da5715c6
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/f6/b0b86c90320200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/fb/906cd883300200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/fc/4062353ab90100101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/fc/e06ffed69f0200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.history/fd/f0c9cad5330200101803dfc5f6d6d5b0
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.projects/00_bit_manipulation/.indexes/history.index
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.projects/00_bit_manipulation/.indexes/33/history.index
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.projects/00_bit_manipulation/.indexes/af/history.index
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.projects/01_structure/.indexes/be/history.index
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.projects/01_structure/.indexes/c4/history.index
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.projects/02_unions_and_bitfields/.indexes/history.index
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.projects/02_unions_and_bitfields/.indexes/33/history.index
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.projects/02_unions_and_bitfields/.indexes/af/history.index
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.projects/MCU_hello_world/.indexes/c4/history.index
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.projects/hello_class/.markers
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.projects/hello_class/.indexes/c4/history.index
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
lesson_1/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
lesson_1/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
